// Using the whole library
@import "material-components-web/material-components-web";


/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

/* Place drawer and content side by side. */
.body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Stack toolbar and main on top of each other. */
.content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.main {
  padding-left: 16px;
}

.top-bar button {
  color: white;
}

.user-area.toolbar-item {
  padding-right: 16px;
}

img.user-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

h2.user-area-name {
  display: block;
}

aside.mdc-persistent-drawer {
  z-index: 5;
}

header.top-bar {
  z-index: 5;
}

div.section {
  left: 0px;
}

h1.hero-text {
  display: inline-block;
  margin-left: 15%;
}

#section1 {
  font-size: 1.2em;
  color: #ffffff;
  background-image: url('/images/hands.jpg');
}

#section2 {
  font-size: 1.2em;
  color: #ffffff;
  background-color: #e55ea2
}

#section3 {
  font-size: 1.2em;
  color: #ffffff;
  background-color: #6666FF
}

div.mdc-simple-menu {
  background-color: #1F8A70
}

nav.mdc-persistent-drawer__drawer {
  background-color: #F5F5F5;
  border: none;
}
